<mat-toolbar color="primary" class="navbar">
  <div class="row">
    My Templete

    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
  </div>

  <div></div>
  <div>
    <span>Home</span>
    <span>About</span>
    <span [matMenuTriggerFor]="serviceMenu">
      <mat-menu #serviceMenu="matMenu">
        <button mat-menu-item>Setting</button>
        <button mat-menu-item>Log out</button>
      </mat-menu>

      service
    </span>

    <span mat-flat-button [matMenuTriggerFor]="appMenu1">
      <mat-menu #appMenu1="matMenu">
        <button mat-menu-item>hello</button>
        <button mat-menu-item>hello2</button>
      </mat-menu>
      Profil
    </span>
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <mat-nav-list>
      <!-- <h2 *ngFor="let item of navItems">hello</h2> -->
      <ul>
        <li *ngFor="let item of navItems">
          <span>
            <mat-icon>{{ item.icon }}</mat-icon>

            {{ item.name }}
          </span>
        </li>
      </ul>
      <!-- <a *ngFor="let item of navItems"> -->

      <!-- <mat-icon matListIcon class="nav-list-icon">{{ item.icon }}</mat-icon> -->

      <!-- <span> </span> -->
      <!-- </a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    menu
  </mat-sidenav-content>
</mat-sidenav-container>

<div>
  <button mat-button>hello word</button>
  <button mat-raised-button>hello word</button>
  <button mat-flat-button>hello word</button>
  <button mat-stroked-button>hello word</button>
</div>
<div>
  <button mat-icon-button>icon</button>
  <button mat-fab>icon</button>
  <button mat-mini-fab>icon</button>
</div>
<div>
  <button color="primary" mat-button>primary</button>
  <button color="accent" mat-button>accent</button>
  <button color="warn" mat-button>warn</button>
  <button color="primary" mat-raised-button>primary</button>
  <button color="accent" mat-raised-button>accent</button>
  <button color="warn" mat-raised-button>warn</button>
</div>
<h1>Toggel</h1>
<div>
  <mat-button-toggle #toggleBtn checked disabled>toggle</mat-button-toggle>
  {{ toggleBtn.checked }}
</div>
<h1>Toggel groupe</h1>
<div>
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup">
    <mat-button-toggle value="angular">angular</mat-button-toggle>
    <mat-button-toggle value="react">react</mat-button-toggle>
    <mat-button-toggle value="vue">vue</mat-button-toggle>
  </mat-button-toggle-group>
  {{ toggleGroup.value }}
</div>
<h1>Toggel groupe multiple</h1>
<div>
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
    <mat-button-toggle value="angular">angular</mat-button-toggle>
    <mat-button-toggle value="react">react</mat-button-toggle>
    <mat-button-toggle value="vue">vue</mat-button-toggle>
  </mat-button-toggle-group>
  {{ toggleGroup.value }}
</div>
<h1>Icon Material</h1>
<div>
  <mat-icon>grade</mat-icon>
  <mat-icon color="primary">room</mat-icon>
  <mat-icon color="accent">redeem</mat-icon>
  <mat-icon color="warn">print</mat-icon>
</div>
<h1>badge</h1>
<div>
  <div class="row">
    <span matBadge="5" matBadgeColor="warn">Notification</span>
  </div>
  <div class="row">
    <span [matBadge]="notifications" matBadgeColor="accent"
      ><mat-icon color="primary">message</mat-icon></span
    >
  </div>
  <div class="row">
    <span matBadge="5" matBadgeColor="accent" matBadgeOverlap="false"
      ><mat-icon color="primary">message</mat-icon></span
    >
  </div>
</div>
<h1>Menu</h1>
<div>
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item>hello</button>
    <button mat-menu-item>hello2</button>
  </mat-menu>
  <button mat-flat-button [matMenuTriggerFor]="appMenu">click</button>

  <mat-menu #lazyMenu="matMenu">
    <ng-template>
      <button mat-menu-item>Setting</button>
      <button mat-menu-item>Log out</button>
    </ng-template>
  </mat-menu>

  <button mat-raised-button [matMenuTriggerFor]="lazyMenu">
    service
  </button>
</div>
<h1>Progress spinner</h1>
<div>
  <mat-progress-spinner value="79"></mat-progress-spinner>
  <mat-spinner></mat-spinner>
  <button color="accent" mat-button (click)="lodSpiner()">Lod Spiner</button>
  <mat-spinner *ngIf="showSpiner"></mat-spinner>
</div>

<h1>carousell</h1>
<div>
  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view w-100">
        <img
          class="d-block w-100"
          src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg"
          alt="First slide"
        />
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Light mask</h3>
        <p>First text</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img
          class="d-block w-100"
          src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg"
          alt="Second slide"
        />
        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Strong mask</h3>
        <p>Secondary text</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img
          class="d-block w-100"
          src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg"
          alt="Third slide"
        />
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Slight mask</h3>
        <p>Third text</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
</div>
<h1>multi item</h1>
<div>
  <mdb-carousel
    [isControls]="true"
    class="carousel-multi-item multi-animation"
    [type]="'carousel-multi-item'"
    [animation]="'slide'"
  >
    <mdb-carousel-item *ngFor="let item of slides; let i = index">
      <div
        class="col-md-4"
        [ngClass]="{ 'd-none d-md-block': cardIndex !== 0 }"
        *ngFor="let card of item; let cardIndex = index"
      >
        <mdb-card class="my-1">
          <mdb-card-img [src]="card.img" alt="Card image cap"></mdb-card-img>
          <mdb-card-body>
            <mdb-card-title>
              <h4>{{ card.title }}</h4>
            </mdb-card-title>
            <p>{{ card.description }}</p>
            <a
              href="#"
              mdbBtn
              color="primary"
              class="waves-light"
              mdbWavesEffect
              >{{ card.buttonText }}</a
            >
          </mdb-card-body>
        </mdb-card>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
</div>
